/* Browser default reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Changing the default selection color */
::selection {
  background:darkblue;
  color:  white;
}
/* List defaults */
ul {
  list-style: none;
}
/* Body default */
body {
  height: 100vh;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  color: #fff;
}
/* "https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif" */
/* background (Gif) */
main {
  background-image:radial-gradient(hsla(219, 100%, 35%, 0.7), hsla(225, 80%,30%,0.6) ,  hsla(244, 54%, 1%, 0.643) ),url("images/giphy.webp"); 
  height: 100%;
}
/* Flexbox container used for centering the card horizontally and vertically */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ======= Card container ======= */
.card{
  background: hsl(216, 50%, 16%);
  flex: 0 1 250px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 10px cyan;
  transition: 1s;
}
/* Card hover effect */
.card:hover {
  box-shadow: 0px 0px 50px cyan;
  transform: scale(1.1);
}
/* ======= Image card container  ======= */
.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* image overlay */
.img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 255, 255, 0);
  border-radius: 12px;
  transition: all 1s;
  opacity: 0;
}
/* Image hover effect */
.img-overlay:hover {
  background: rgba(0, 255, 255, 0.3);
  opacity: 1;
}
/* ======= Main image  ======= */
.main-image {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 5px;
}
/* ======= Gap between elements ======= */
.card-title,.card-text,.price-container,hr {
  margin: 20px 0 ;
}
/* ======= Card text ======= */
.card-text,.price-container .time-left {
  font-weight: 300;
  color: hsl(0, 0%, 80%);
}
/* ======= Price ======= */
.price-container {
  display: flex;
  justify-content: space-between;
}
.price-container .price {
  color: cyan;
}
.price::before {
  content:"";
  display: inline-block;
  background: url("images/icon-ethereum.svg") no-repeat center;
  width: 10px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}


.time-left::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  background: url("images/icon-clock.svg") no-repeat center;
}

/* ======= Creator ======= */
.creator{
  /* Line */
  border-top: 1px solid hsl(0, 0%, 80%);
  padding: 20px 0;
  display: flex;
  align-items: center;
}
/* Creator Full Name */
.creator h2 {
  font-size: 18px;
  color: hsl(0, 0%, 80%);
  font-weight: 300;
}
/* Creator Name (link) */
.creator h2 .name{
  color: white;
  text-decoration: none;
  transition: .5s;
}
/* Link hover effect */
.creator h2 .name:hover {
  color: cyan;
}
/* Creator picture */
.creator img {
  margin-right: 20px;
}