* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;

}

.heading {
    line-height: 1;
    margin-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.img {
    width: 100%;
    height: 100%;
    opacity: .75;
    mix-blend-mode: multiply;
}

.image {
    position: relative;
    background-color: hsl(277, 64%, 61%);
    opacity: 1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px
}

.text-body {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 3.5rem;
    background-color: hsl(244, 38%, 16%);
}

span {
    color: hsl(277, 64%, 61%);
}

.footer {
    display: flex;
}

.para {
    margin: 0 0 5rem;
    padding-right: 2.55rem;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.6);

}

.footer {
    display: flex;
    justify-content: space-between;
}

.queries-no {
    margin-right: 20%;
}

.company-no,
.template-no,
.queries-no {
    font-size: 15px;
    text-transform: uppercase;
}

.company-no .template-no .queries-no,
.p1 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;

}

.company-no .template-no .queries-no,
.p2 {
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;

}


@media (min-width:1200px) {
  

    .card {
        width: 80%;

    }


    .text-body {
        padding: 4rem;
    }
    .heading {
        line-height: 1.3;
        font-size: 35px;
    }

    .para {
        padding-right: 2.85rem;
        line-height: 1.5;
        font-size: 17px;

    }


    .queries-no {
        margin-right: 20%;
    }


    .company-no .template-no .queries-no,
    .p1 {
        font-size: 25px;

    }

    .company-no .template-no .queries-no,
    .p2 {
        font-size: 14px;

    }

}

@media (max-width:1199px) and (min-width:950px) {

    .card {
        width: 90%;
        border-radius: 10px;

    }


    .text-body {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .para {
        margin: 0 0 18%;
        padding-right: 2rem;
        line-height: 1.5;
        font-weight: 400;

    }

    .queries-no {
        margin-right: 14%;
    }

    .company-no .p1 {
        text-transform: lowercase;

    }

    .company-no .template-no .queries-no,
    .p1 {
        font-size: 19px;
        margin-bottom: 7px;
        font-weight: 700;


    }

    .company-no .template-no .queries-no,
    .p2 {
        font-size: 10px;
        letter-spacing: 1px;

    }


}
@media (min-width:650px) and (max-width:950px) {

    .card {
        width: 90%;
        border-radius: 10px;

    }
    .heading{
        font-size:1.5rem;
    }


    .text-body {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding:2.5rem;
    }


    .para {
        margin: 0 0 18%;
        font-size:13px;
        padding-right: 1.5rem;
        line-height: 1.5;
        font-weight: 400;

    }

    .queries-no {
        margin-right: 14%;
    }

    .company-no .p1 {
        text-transform: lowercase;

    }

    .company-no .template-no .queries-no,
    .p1 {
        font-size: 15px;
        margin-bottom: 7px;
        font-weight: 700;


    }

    .company-no .template-no .queries-no,
    .p2 {
        font-size: 8px;
        letter-spacing: 1px;

    }

}
@media (min-width:455px) and (max-width:649px){
    .card {
        width: 90%;
        border-radius: 10px;
        grid-template-columns: 1fr;

    }
    .heading{
        font-size:2rem;
    }


    .text-body {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding:2.5rem;
        order: 1;
    }


    .para {
        margin: 0 0 18%;
        font-size:18px;
        padding-right: 1.5rem;
        line-height: 1.5;
        font-weight: 400;

    }
    .image{
        margin-top: 15rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px
    }

    .queries-no {
        margin-right: 10%;
    }

    .company-no .p1 {
        text-transform: lowercase;

    }

    .company-no .template-no .queries-no,
    .p1 {
        font-size: 17px;
        margin-bottom: 7px;
        font-weight: 700;


    }

    .company-no .template-no .queries-no,
    .p2 {
        font-size: 11px;
        letter-spacing: 1px;

    }
}
@media (max-width:454px){
    .card {
        width: 90%;
        border-radius: 10px;
        grid-template-columns: 1fr;

    }
    .heading{
        font-size:1.5rem;
    }


    .text-body {
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding:2rem;
        order: 1;
    }


    .para {
        margin: 0 0 18%;
        font-size:18px;
        padding-right: 1rem;
        line-height: 1.5;
        font-weight: 400;

    }
    .image{
        margin-top: 15rem;
    }

    .queries-no {
        margin-right: 0;
    }

    .company-no .p1 {
        text-transform: lowercase;

    }

    .company-no .template-no .queries-no,
    .p1 {
        font-size: 18px;
        margin-bottom: 7px;
        font-weight: 700;


    }
    .foot{
        margin-bottom: 2rem;
    }

    .company-no .template-no .queries-no,
    .p2 {
        font-size: 12px;
        letter-spacing: 1px;

    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}